*
{
    user-select: none;
}
body
{
    padding: 0;
    margin: 0;
}
/* navbar start */
.navbar
{
    justify-content: space-between;
    background-color: #F5F5F5;
    flex-direction: row;
    display: flex;
    height: 8%;
    padding: 0 25px;
}
/* navbar logo section on the left start */
.navbar_logo
{
    justify-content:center ;
    align-items: center;
    display: flex;
}
.navbar_logo>span
{
    color:#318B11;
    font-size: 20px;
    cursor: pointer;
}
/* navbar logo section on the left end */
/* navbar right side button lake start*/
.navbar_buttons
{
    flex-direction: row;
    display: flex;
    gap: 30px;
}
.mobilebutton
{
    display: none;
    width: 10%;
    height: 100%;
}
.account_transactions
{
    align-items: center;
    display: flex;
    gap: 25px;
}
.account_transactions>button
{
    border: 2px solid #318B11;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    color : #318B11;
    cursor: pointer;
    display: flex;
    width: 120px;
    height: 50%;
}
.account_transactions>button:hover
{
    background-color: #318B11;
    cursor: pointer;
    color: white;
}
.account_transactions>button:active
{
    transform: translateY(2px);
}
.language_operations
{
    align-items: center;
    display: flex;
    gap: 5px;
}
.language_indicator
{
    align-items: center;
    display: flex;
    gap: 7px;
}
.popup_tab
{
    cursor: pointer;
}
.popup_tab:active
{
    transform: translateY(2px);
}
/* navbar right side button lake end*/
/* navbar end */
/*welcome page start*/
.welcome_page
{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 20px;
    gap: 25px;
    min-height: 80%;
}
/* welcome page text area on the left start */
.welcome_page_text
{
    justify-content: center;
    align-items:  flex-start;
    font-size: 36px;
    display: flex;
    width: 40%;
    flex-direction: column;
}
/* welcome page text area on the left end */
/* image section on the right side of the welcome page start */
.welcome_page_img_container
{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
}
/* image section on the right side of the welcome page end */
/* welcome page end */
/* middle area text start */
.a
{
    position: relative;
}
.middletextarea
{
    height: 15%;
    padding: 0 5%;
}
.middletextarea>span
{
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-size: 28px;
    display: flex;
}
/* middle area text end */
/* intermediate page start */
.intermediate_page
{
    background-color: #060C21;
    justify-content: center;
    display: flex;
}
.white
{
    min-height: 30%;
}
.invite
{
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 10px;
    border-radius: 25px;
    position: absolute;
    background: #EBEBEB;
    bottom: 18%;
    left: 8%;
}
.invite_text>span
{   
    padding: 15px 0;
    font-size: 22px;
}
.invite_text>p
{
    padding: 10px 0;
    font-size: 18px;
}
.invitebutton
{
    border: none;
    color: white;
    background: #318B11;
    border-radius: 10px;
    padding: 10 25px;
}
/* shop picture on intermediate page end */
.shopimg
{
    width: 75%;
}
/* shop picture on intermediate page end */
/*intermediate page start end */
/* city​ areas page start*/
.city​areas_page
{
    flex-direction: column;
    display: flex;
}
.city​areas_page_text
{
    justify-content: flex-start;
    align-content: center;
    display: flex;
    padding: 20px 7%;
}
.city​areas_page_text>span
{
    font-size: 28px;
}
.city​areas_page_img_container
{
    display: flex;
    gap: 8%;
    justify-content: center;
}
.city​areas_page_img
{
    position: relative;
    overflow: hidden;
    width: 25%;
}
.withimg
{
    height: 100%;
    width: 100%;
}
.withimg>img
{   
    height: 100%;
    width: 100%;
}
.city​areas_page_img:hover>.withimg
{
    filter: blur(4px);
}
.withbutton
{
    position: absolute;
    height: 13%;
    width: 28%;
    left: 10%;
}
.withbutton>button
{
    border: 1px solid #318B11;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.withbutton>button:hover
{
    background-color: #318B11;
    cursor: pointer;    
    color: white;
}
.withbutton>button:active
{
    transform: translateY(4px);
}
.city​areas_page_img:hover>.withbutton
{
    top: 80%;
}
/* city​ areas page end*/
/* footer start */
.footer
{
    padding: 10px 25px;  
    padding-top:10%;
    justify-content: space-between;
    display: flex;
    height: 10%;
}
.footerleftfield
{   
    align-items: center;
    color: #318B11;
    display: flex;
    gap: 30px;
}
.footerrightfield
{
    align-items: center;
    color: #318B11;
    display: flex;
}
/* footer end */
@media screen and (max-width:1200px)
{
    .welcome_page
    {
        flex-direction: column;
    }
    .welcome_page_text
    {
        flex-direction: row;
        width: 100%;
    }
    .middletextarea
    {
        justify-content: center;
        display: flex;
    }
    .invite
    {
        display: none;
    }
    .a
    {
        padding-bottom: 5%;
    }
    .white
    {
        display: none;
    }
    .city​areas_page
    {
        height: 100%;
    }
    .city​areas_page_text
    {
        height: 5%;
        justify-content: center;
    }
    .city​areas_page_img_container
    {
        height: 95%;
        flex-direction: column;
        align-items: center;       
    }
    .city​areas_page_img
    {
        height: 40%;
        width: 40%;
    }
}
@media screen and (max-width:900px)
{
    .navbar_buttons
    {
        display: none;
    }
    .mobilebutton
    {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .shopimg
    {
        width: 90%;
    }
}
@media screen and (max-width:680px)
{
    .welcome_page_text
    {
        font-size: 22px;
    }
    .middletextarea>span
    {
        font-size: 22px;
    }
    .city​areas_page_text>span
    {
        font-size: 22px;
    }
    .city​areas_page_img
    {
        height: 40%;
        width: 60%;
    }
    .welcome_page
    {
        padding: 20px;
        min-height: 50%;
    }
    .welcome_page_img_container
    {
        width: 60%;
    }
    .welcome_page_img_container>img
    {
        width: 100%;
    }
    .footerleftfield
    {
        width: 80%;
    }
}
@media screen and (max-height: 680px)
{
    .withbutton>button
    {
        font-size: 10px;
    }
    .city​areas_page
    {
        height: 150%;
        padding-bottom: 50px;
    }
    .navbar
    {
        height: 10%;
    }
}